@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
}
.score-sec{
    height: 180px;
}
.score-number{
    font-size: 70px;
}
.score-text{
    color: hsl(229, 64%, 46%);
    font-size: 30px;
    margin-bottom: 0px;
}

.rules{
    bottom: 30px;
    right: 30px;
}
.rules-button{
    all: unset;
    color: white;
    border: 1px solid white;
}
.rules-button:hover{
    background-color: white;
    color: black;
}

.logo{
    background-image: url("./images/logo.svg");    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.playcontainer{
    background-image: url("./images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.inner-play>div{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -5px 3px 2px rgba(14, 14, 14, 0.461);
}

.upper-play{
    width: 75%;
}
.bottom-play{
    padding-top: 40px;
}
.rounded-circle{
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    box-shadow: inset 7px 5px 6px 2px rgba(115,115,115,0.84);
    transition: all 0.2s;
}
.options:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 0px  !important;
}

.options:active{
    box-shadow:  inset 0px 0px 7px 7px rgba(115,115,115,0.84) !important;
}

.first-circle>div{
    background-image: url("./images/icon-paper.svg");
}

.sec-circle>div{
    background-image:url("./images/icon-rock.svg");
}

.thi-circle>div{
    background-image: url("./images/icon-scissors.svg");
}
.game{
    height: 75%;
}
.left-ring{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -5px 3px 2px rgba(14, 14, 14, 0.461);
    transform: scale(1.2);
}
.right-ring{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -5px 3px 2px rgba(14, 14, 14, 0.461);
    transform: scale(1.2);
}

.left{
    background-repeat: no-repeat;
    background-position: center;
}

.middle{
    display: flex;
}
.again:hover{
    background-color: white !important;
    color: #007bff;
}

.load-div{
    box-shadow: inset 0px 0px 0px !important;
    background-color: rgb(18, 44, 105);
}

.paper{
    background-color:#007bff;
}
.rock{
    background-color:#ffc107;
}
.scissors{
    background-color: #dc3545;
}

.main-container.active{
    filter: blur(20px);
    user-select: none;
    pointer-events: none;
}

.popup{
    background-image: url(./images/image-rules.svg);
    background-repeat: no-repeat;
    background-position: 50% 70% ;
    background-size: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50% );
    width: 400px;
    padding: 10px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    visibility:hidden;
}

.popup.active{

    visibility: visible;
    top:20%;
    transition: all 0.5s;
}

.popup>div{
    all: unset;
    background-image: url('./images/icon-close.svg');
    background-repeat: no-repeat;
    position:absolute;
    width: 20px;
    height: 20px;
    /* background-color: #dc3545; */
    right: 20px;
    top: 20px;
}
.popup>div:hover{
    cursor: pointer;
}

.popup>p{
    color: hsl(229, 25%, 31%);
}